extends layout

block content
  .inner
    h2 Edit Your Account
    form(action="/account" method="POST")
      label(for='name') Name
      input(type='text' name='name' id='name' value=user.name) //-user.name is from the locals middleware in app.js
      label(for='email') Name
      input(type='email' name='email' id='email' value=user.email)
      