//- div.wrapper.anotherclass
//-   - const upDog = dog.toUpperCase()
//-   // put minus before normal js
//-   p.hello Hello! My dog's name is #{dog}
//-   span#yo yo!
//-   img.dog(src='dog.jpg' alt=`Dog ${dog}`) 
//-   //with pug you need to use tem literals for vars in tags

extends layout

block content
    p Hello!